name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  PY_COLORS: 1

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - uses: psf/black@stable
        with:
          options: "--check ."
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v3
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14.11
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached:1.6.40-alpine
        ports:
          - 11211:11211
      redis:
        image: redis:6.2.21-alpine
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - uses: abatilo/actions-poetry@v4
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Setup required upstream yarn version
        run: yarn set version 1.22.21
      - run: |
          sudo apt-get update && sudo apt-get install -y libxmlsec1-dev libmaxminddb-dev
          poetry install --with test
          make deps
          poetry run pytest
